@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,500;1,600&display=swap');

* {
  all: unset;
  display: revert;
}

//Primary and theme colour
$color-primary: rgb(21, 21, 23); // # // Standard dark colour
$color-secondary: rgb(91, 15, 211); // #; // Purple
$color-brand-01: rgb(251, 164, 65); // # // Orange

//TYPOGRAPHY
$heading-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Open Sans', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
